<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Screener.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Screener.My.MySettings>
            <setting name="MinClose" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxClose" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ATRPercentage" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="EndDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="MaxBlankCandlePercentage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="InstrumentList" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumberOfStockPerDay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StockType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcedureNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OnlyFOStocks" serializeAs="String">
                <value>True</value>
            </setting>
        </Screener.My.MySettings>
    </userSettings>
</configuration>
